{% include "partials/header.twig" %}
<main class='main-content'>
<div class="main-banner" style="background: url({{ site.theme.link }}/assets/images/ban_decore.png) 0% 101%,linear-gradient(132.63deg, #FFFFFF 12.88%, rgba(255, 255, 255, 0) 85.91%), linear-gradient(179.5deg, #FFFFFF 1.41%, rgba(254, 254, 254, 0) 42.95%),url({{ site.theme.link }}/assets/images/slide2.jpg);">
	<div class="container">
		<div class="hassp-before-title">ХАССП</div>
		<div class="hassp-title">Онлайн курс</div>
		<div class="main-banner-text">
			<p>ХАССП (HACCP — Hazard Analysis and Critical Control Point) — анализ рисков и контроль критических точек. Основа производства безопасной пищевой продукции.</p>
		</div>
	</div>	
</div>
<div class="fulltime-form">
	<div class="container">
		<div class="fulltime-form-content">
			<div class="fulltime-form-text">Узнать о возможности очной консультации можно по телефону</div>
			<form action="" v-on:submit.prevent="submitModuleForm">
				<input v-model="user.name" class="fulltimeInput" type="text" placeholder="Ваше имя" required>
				<input v-model="user.phone" class="fulltimeInput" type="phone" placeholder="+7 ( ___ ) ___ - __ - __" required>
				<input class="fulltimeSubmit" type="submit" value="ОСТАВИТЬ ЗАЯВКУ">
				<label class="control control-checkbox">
        			Я согласен на <a href="">обработку персональных данных.</a>
            		<input type="checkbox" checked="checked" required/>
        			<div class="control_indicator"></div>
    			</label>
			</form>
		</div>
	</div>
</div>


</main>
{% include "partials/footer.twig" %}