{% include "partials/header.twig" %}
<main class='main-content'>
	<div class="online_page-content top_padding">
		<div class="container">
			<div class="hassp-before-title">ХАССП</div>
			<div class="hassp-title">Онлайн курс</div>
			<div class="future-content">
				Онлайн - курс находится в разработке.<br>Мы будем рады встретиться с Вами на онлайн обучении в феврале 2020!
			</div>
		</div>
	</div>
</main>
{% include "partials/footer.twig" %}