{% include "partials/header.twig" %}
<main class='main-content' id="app">
<div class="main-banner" style="background: url(./assets/images/ban_decore.png)0% 101%,linear-gradient(132.63deg, #FFFFFF 12.88%, rgba(255, 255, 255, 0) 85.91%), linear-gradient(179.5deg, #FFFFFF 1.41%, rgba(254, 254, 254, 0) 42.95%),url(./assets/images/hassp.jpg);">
	<div class="container">
		<div class="main-banner-title" style="max-width: 100%;"><span>ХАССП</span> как<br> конкурентное преимущество</div>
		<div class="main-banner-text">
			<p>ХАССП (HACCP — Hazard Analysis and Critical Control Point) — анализ рисков и контроль критических точек. Основа производства безопасной пищевой продукции.</p>
		</div>
	</div>	
</div>
<div class="training-options">
	<div class="container">
		<div class="training-option-item" style="background: linear-gradient(0deg, #FFFFFF -18.1%, rgba(255, 255, 255, 0) 35.75%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), url(./assets/images/food.jpg);">
			<div class="training-option-item-name">Очно</div>
			<div class="training-option-item-text">Занятия проводятся по запросу и в зависимости от загруженности эксперта. Уникальная возможность задать все волнующие вопросы.</div>
			<div class="training-option-item-link"><a href="">Узнать подробне</a></div>
		</div>
		<div class="training-option-item" style="background: linear-gradient(0deg, #FFFFFF -18.1%, rgba(255, 255, 255, 0) 35.75%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), url(./assets/images/food.jpg);">
			<div class="training-option-item-name">Вебинар</div>
			<div class="training-option-item-text">Полный курс - серия вебинаров из 6 модулей.</div>
			<div class="training-option-item-link"><a href="">Узнать подробне</a></div>
		</div>
		<div class="training-option-item" style="background: linear-gradient(0deg, #FFFFFF -18.1%, rgba(255, 255, 255, 0) 35.75%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), url(./assets/images/food.jpg);">
			<div class="training-option-item-name">Онлайн-курс</div>
			<div class="training-option-item-text">Экономично и удобно! Полная информация по ХАССП в любое время.</div>
			<div class="training-option-item-link"><a href="">Узнать подробне</a></div>
		</div>
	</div>
</div>
<div class="hassp-content">
	<div class="container">
		<div class="hassp-content-column">
			<div class="hassp-content-row">
				<div class="hassp-content-row-title">для кого:</div>
				<div class="for-whom">
					<div class="for-whom-item">
						<div class="for-whom-item-img"><img src="./assets/images/security.svg" alt=""></div>
						<div class="for-whom-item-name">Директор по качеству</div>
					</div>
					<div class="for-whom-item">
						<div class="for-whom-item-img"><img src="./assets/images/chemistry.svg" alt=""></div>
						<div class="for-whom-item-name">Начальник лаборатории</div>
					</div>
					<div class="for-whom-item">
						<div class="for-whom-item-img"><img src="./assets/images/researcher.svg" alt=""></div>
						<div class="for-whom-item-name">Специалист по качеству</div>
					</div>
					<div class="for-whom-item">
						<div class="for-whom-item-img"><img src="./assets/images/manager.svg" alt=""></div>
						<div class="for-whom-item-name">Начальник производства</div>
					</div>
					<div class="for-whom-item">
						<div class="for-whom-item-img"><img src="./assets/images/manager.svg" alt=""></div>
						<div class="for-whom-item-name">Главный технолог</div>
					</div>
					<div class="for-whom-item">
						<div class="for-whom-item-img"><img src="./assets/images/manager.svg" alt=""></div>
						<div class="for-whom-item-name">Иные сотрудники предприятий</div>
					</div>
				</div>
			</div>
			<div class="hassp-content-row">
				<div class="hassp-content-row-title">Выдаваемые документы:</div>
			</div>
		</div>
		<div class="hassp-content-column">
			<div class="hassp-content-row">
				<div class="hassp-content-row-title">Преподаватель –эксперт:</div>
			</div>
			<div class="hassp-content-row">
				<div class="hassp-content-row-title">Что дает внедрение ХАССП:</div>
			</div>
		</div>
	</div>
</div>

</main>
{% include "partials/footer.twig" %}