{% include "partials/header.twig" %}
<main class='main-content' id="app">
<div class="main-banner" style="background: url(./assets/images/ban_decore.png)0% 101%,linear-gradient(121.06deg, #FFFFFF 12.18%, rgba(255, 255, 255, 0) 60.29%), linear-gradient(179.29deg, #FFFFFF 1.41%, rgba(141, 141, 141, 0) 65.56%),url(./assets/images/slide.jpg) 0 100%;">
	<div class="container">
		<div class="main-banner-title">Мы готовим <span>профессионалов</span></div>
		<div class="main-banner-text">
			<p>Важнейшая составляющая успеха любого бизнеса – это люди. Мы искренне верим, что каждый человек обладает уникальными талантами, которые необходимо развивать в течение всей жизни.</p>
		</div>
		<div class="main-banner-link"><a href="">Узнать подробне</a></div>
	</div>	
</div>
<div class="trainings_block">
	<div class="container">
		<div class="trainings_block-inner">
			{% for item in 0..2 %}
				<div class="training-item" style="background: linear-gradient(360deg, #000000 -21.92%, rgba(179, 179, 179, 0) 48.24%), url(./assets/images/tren.jpg);">
					<div class="training-item-name">Тренинги</div>
					<div class="training-item-link"><a href="">Узнать подробне</a></div>
				</div>
			{% endfor %}
		</div>
	</div>	
</div>
<div class="food-safety">
	<div class="container">
		<div class="main-page-title">Безопасность пищи</div>
		<div class="food-safety-inner">
			{% for item in 0..2 %}
				<div class="food-safety-item">
					<div class="food-safety-item-image"><img src="./assets/images/food.jpg" alt=""></div>
					<div class="food-safety-content">
						<div class="food-safety-name">ХАССП как конкурентное преимущество</div>
						<hr class="safety-decore">
						<div class="food-safety-time">
							<div class="food-safety-time-name">Очно (2 дня 16 часов)</div>
							<div class="food-safety-time-value">5 занятий</div>
						</div>
						<div class="food-safety-text">
							<p>В результате обучения:</p>
								<p>· Вы поймете, что такое система стандартов ХАССП в общественном питании применительно к российской действительности.</p>
								<p>· Научитесь использовать ее для повышения эффективности работы своей компании и успешного прохождения проверок контролирующих органов.</p>
								<p>· Получите работающие инструменты внедрения системы.</p>
								<p>· Выполните большое количество интересных практических заданий.</p>
							<p>Всем участникам, прошедшим обучение, выдается Сертификат о повышении квалификации установленного образца.</p>
						</div>
						<div class="food-safety-links">
							<a class="link-sign" href="">Записаться</a>
							<a class="view-more" href="">Узнать больше</a>
						</div>
					</div>
					<div class="food-safety-difficult">Начинающий</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
<div class="teachers_block">
	<div class="container">
		<div class="main-page-title">Преподаватели</div>
		<div class="teachers_block-inner">
			{% for item in 0..3 %}
				<a href="" class="teacher-item">
					<div class="teacher-item-photo">
						<img src="./assets/images/teacher.jpg" alt="">
					</div>
					<div class="teacher-item-name">Шишкевич Злата</div>
					<div class="teacher-item-text">
						<p>Региональный менеджер по персоналу</p>
						<p>Преподаватель Университета Росинтер</p>
					</div>
				</a>
			{% endfor %}
		</div>
	</div>
</div>
</main>
{% include "partials/footer.twig" %}