{% include "partials/header.twig" %}
<main class='main-content'>
	<div class="online_page-content top_padding">
		<div class="container">
			<div class="hassp-title">{{ post.title }}</div>
			<div class="future-content">
				{{ post.get_content|shortcodes }} 
			</div>
		</div>
	</div>
</main>
{% include "partials/footer.twig" %}