{% include "partials/header.twig" %}
<main class='main-content' id="app">
<div class="main-banner" style="background: url(./assets/images/ban_decore.png)0% 101%,linear-gradient(132.63deg, #FFFFFF 12.88%, rgba(255, 255, 255, 0) 85.91%), linear-gradient(179.5deg, #FFFFFF 1.41%, rgba(254, 254, 254, 0) 42.95%),url(./assets/images/slide3.jpg) 0 100%;">
	<div class="container">
		<div class="main-banner-title">Об <span>университете</span></div>
		<div class="main-banner-text">
			<p>В жизни преуспевают те, кто не боится мечтать о великом, и кто настойчиво идет к поставленной цели. Дойти к цели и победить смогут только самые решительные и нацеленные на результат, развивающие свои знания и навыки, поэтому призвание университета – создание сильнейшей команды профессионалов.</p>
		</div>
	</div>	
</div>
<div class="about-us-content white">
	<div class="container">
		<div class="about-us-title">Корпоративный университет РОСИНТЕР основан 19 июля 2016 года и является структурным подразделением ООО "Росинтер Ресторантс".</div>
		<div class="about-us-text"><p>В соответствии со своими ценностями наш Корпоративный Университет берет на себя обязательство обеспечить:</p></div>
		<div class="about-us-triggers">
			<div class="about-us-trigger">
				<div class="about-us-trigger-img"><img src="./assets/images/about-1.svg" alt=""></div>
				<div class="about-us-trigger-text">Высокое качество обучения, актуальность учебных программ, оптимальное соотношение в них теории и практики.</div>
			</div>
			<div class="about-us-trigger">
				<div class="about-us-trigger-img"><img src="./assets/images/about-2.svg" alt=""></div>
				<div class="about-us-trigger-text">Высокий уровень подготовки преподавателей, обеспечение их всем необходимым для эффективного проведения занятий.</div>
			</div>
			<div class="about-us-trigger">
				<div class="about-us-trigger-img"><img src="./assets/images/about-3.svg" alt=""></div>
				<div class="about-us-trigger-text">Высокое качество и актуальность передаваемых знаний, форм проведения занятий, учебных пособий и дополнительных учебных материалов.</div>
			</div>
		</div>
	</div>
</div>
<div class="about-us-content blue">
	<div class="container">
		<div class="about-us-text">
			<p>Университет Росинтер осуществляет свою деятельность на основании<br>Положения "Об Университете Росинтер" и календарных планов деятельности,<br>утверждаемых Генеральным директором ООО Росинтер Ресторантс.<br>
		Директор Университета Росинтер наделен правом подписания локальных документов, касающихся ведения образовательной деятельности.</p>
			<p>Основной целью Университета Росинтер является профессиональное развитие сотрудников ООО Росинтер Ресторантс.</p>
		</div>
		<div class="about-us-triggers">
			<div class="about-us-trigger">
				<div class="about-us-trigger-img"><img src="./assets/images/about-4.svg" alt=""></div>
				<div class="about-us-trigger-text">Реализация программы дополнительного профессионального образования для директоров ресторанов;</div>
			</div>
			<div class="about-us-trigger">
				<div class="about-us-trigger-img"><img src="./assets/images/about-5.svg" alt=""></div>
				<div class="about-us-trigger-text">Реализация программы дополнительного профессионального образования для заместителей директоров ресторанов.</div>
			</div>
		</div>
	</div>
</div>
</main>
{% include "partials/footer.twig" %}