{% include "partials/header.twig" %}
<main class='main-content' id="app">
<div class="teachers_page top_padding">
	<div class="container">
		<div class="all-page-title"><h1>Эксперт по пищевой безопастности</h1></div>
		<div class="hassp-teacher-item">
			<div class="hassp-teacher-item-img"><img src="./assets/images/teach.jpg" alt=""></div>
			<div class="hassp-teacher-item-info">
				<div class="hassp-teacher-item-name">Ольга Заваловская</div>
				<div class="hassp-teacher-item-text">
					<p>старший менеджер по качеству департамента закупок и логистики ООО «Росинтер Ресторантс».</p>
				</div>
			</div>
		</div>
		<div class="teachers_page-content">
			<div class="hasp-teatcher-text">
				<p>С 2016 года работает в компании «Росинтер Ресторантс». Занимается внедрением системы менеджмента безопасности пищевой продукции по международному образцу, внедрением ФГИС «Меркурий». Развивает направление GFSI среди поставщиков.</p> 
				<p>С 01 июля 2019 года занимает пост Заместителя Коммерческого Директора по закупочным процессам.</p>
				<p>Является аттестованным аудитором органа по сертификации NSF. Получила три награды в 2017-2018 году от NSF по внедрению требований международных стандартов.</p>
				<p>Получила награду  за лучшее выступление по теме ФГИС «Меркурий» в 2018 году  на Девятой церемонии награждения лучших спикеров CFO-Russia.ru.</p>
				<p>Является приглашенным лектором по ХАССП и пищевой безопасности в Российском Экономическом Университете им. Г.В. Плеханова и в Российской Академии Народного Хозяйства и Государственной Службы.</p>
			</div>
			<div class="hasp-teacher-gallery">
				<a href="" class="gallery-item"><img src="./assets/images/sert-1.jpg" alt=""></a>
				<a href="" class="gallery-item"><img src="./assets/images/sert-2.jpg" alt=""></a>
				<a href="" class="gallery-item"><img src="./assets/images/sert-3.jpg" alt=""></a>
			</div>
			<div class="hasp-teatcher-text">
				<p><b>Интервью:</b></p>
				<p>
					<a href="https://www.cfo-russia.ru/stati/index.php?article=50466">https://www.cfo-russia.ru/stati/index.php?article=50466</a><br>
					<a href="https://kachestvo.pro/kachestvo-produktsii/standartizatsiya/budem-druzhit-standartami/">https://kachestvo.pro/kachestvo-produktsii/standartizatsiya/budem-druzhit-standartami/</a><br>
					<a href="https://kachestvo.pro/kachestvo-produktsii/kontrol/audity-ne-dlya-galochki/">https://kachestvo.pro/kachestvo-produktsii/kontrol/audity-ne-dlya-galochki/</a>
				</p>
				<p><b>Статьи:</b></p> 
				<p><a href="https://www.retail.ru/cases/rosinter-restorants-i-fgis-merkuriy-opyt-vnedreniya-v-sfere-horeca/">https://www.retail.ru/cases/rosinter-restorants-i-fgis-merkuriy-opyt-vnedreniya-v-sfere-horeca/</a></p>
			</div>
		</div>
	</div>
</div>

</main>
{% include "partials/footer.twig" %}