{% include "partials/header.twig" %}
<main class='main-content' id="app">
<div class="main-banner" style="background: url(./assets/images/ban_decore.png)0% 101%,linear-gradient(132.63deg, #FFFFFF 12.88%, rgba(255, 255, 255, 0) 85.91%), linear-gradient(179.5deg, #FFFFFF 1.41%, rgba(254, 254, 254, 0) 42.95%),url(./assets/images/slide4.jpg) 0 100%;">
	<div class="container">
		<div class="hassp-before-title">ХАССП</div>
		<div class="hassp-title">Вебинар</div>
		<div class="main-banner-text">
			<p>Независимые модули</p>
		</div>
	</div>	
</div>
<div class="webinar-content">
	<div class="container">
		<div class="webinar-lesson">
				<p><span>Занятия:</span> с 21 ноября по 25 декабря<br>
				пн-сб 10:00 — 14:00</p>
				<p><b>продолжительность модуля 3 часа</b></p>
		</div>
		<div class="webinar-item">
			<div class="webinar-header">
				<div class="webinar-title active">Модуль 1 : Введение, нормативные документы, принципы ХАССП.</div>
				<div class="webinar-link"><a href="">Выбрать</a></div>
			</div>
			<div class="webinar-content-inner">
			<div class="webinar-content-column">
				<div class="webinar-content-text">
					<p><b>Введение:</b></p>
					<p>-историческая справка, история версий,</p>
					<p>- преимущества от внедрения ХАССП</p>
					<p>-связь с другими стандартами пищевой безопасности.</p>
 					<p><b>Требование РФ. Требования Международные.</b></p>
					<p><b>Национальные стандарты:</b></p>
					<p>ГОСТ Р 51705.1-2001. Системы качества. Управление качеством пищевых продуктов на основе принципов ХАССП. Соблюдение общих требований ХАССП - управление качеством производимой продукции на основе основных принципов ГОСТ Р ИСО 22000-2007. Системы менеджмента безопасности пищевой продукции. Требования к организациям, участвующим в цепи создания пищевой продукции. Расширенный стандарт, требует соблюдения принципов всеми участниками создания пищевой промышленности: от момента производства сырья до его переработки поступления к конечному потребителю. (Российский аналог международного стандарта ISO 22000-2005)</p>
				</div>
			</div>
			<div class="webinar-content-column">
				<div class="webinar-content-text">
					<p><b>Международные стандарты</b></p>
					<p>ISO 22000-2005. Food safety management systems.</p>
					<p>FSSC 22000 Food Safety System Certification</p>
					<p>BRC. British Retail Consortium</p>
					<p>IFS International Food Standard</p>
					<p><b>Принципы ХАССП:</b></p>
					<p>Принцип №1 Анализ опасных факторов</p>
					<p>Принцип №2 Определение Критических контрольных точек (ККТ)</p>
					<p>Принцип №3 Критические пределы для ККТ</p>
					<p>Принцип №4 Мониторинга и контроль</p>
					<p>Принцип №5 Корректирующие действия</p>
					<p>Принцип №6 Верификация</p>
					<p>Принцип №7 Регистрация данных</p>
				</div>
			</div>
		</div>
		</div>
		<div class="webinar-item">
			<div class="webinar-header">
				<div class="webinar-title">Модуль 2: Документация ХАССП, письменные процедуры.</div> 
				<div class="webinar-link"><a href="">Выбрать</a></div>
			</div>
			<div class="webinar-content-inner" style="display: none;">
			<div class="webinar-content-column">
				<div class="webinar-content-text">
					<p><b>Введение:</b></p>
					<p>-историческая справка, история версий,</p>
					<p>- преимущества от внедрения ХАССП</p>
					<p>-связь с другими стандартами пищевой безопасности.</p>
 					<p><b>Требование РФ. Требования Международные.</b></p>
					<p><b>Национальные стандарты:</b></p>
					<p>ГОСТ Р 51705.1-2001. Системы качества. Управление качеством пищевых продуктов на основе принципов ХАССП. Соблюдение общих требований ХАССП - управление качеством производимой продукции на основе основных принципов ГОСТ Р ИСО 22000-2007. Системы менеджмента безопасности пищевой продукции. Требования к организациям, участвующим в цепи создания пищевой продукции. Расширенный стандарт, требует соблюдения принципов всеми участниками создания пищевой промышленности: от момента производства сырья до его переработки поступления к конечному потребителю. (Российский аналог международного стандарта ISO 22000-2005)</p>
				</div>
			</div>
			<div class="webinar-content-column">
				<div class="webinar-content-text">
					<p><b>Международные стандарты</b></p>
					<p>ISO 22000-2005. Food safety management systems.</p>
					<p>FSSC 22000 Food Safety System Certification</p>
					<p>BRC. British Retail Consortium</p>
					<p>IFS International Food Standard</p>
					<p><b>Принципы ХАССП:</b></p>
					<p>Принцип №1 Анализ опасных факторов</p>
					<p>Принцип №2 Определение Критических контрольных точек (ККТ)</p>
					<p>Принцип №3 Критические пределы для ККТ</p>
					<p>Принцип №4 Мониторинга и контроль</p>
					<p>Принцип №5 Корректирующие действия</p>
					<p>Принцип №6 Верификация</p>
					<p>Принцип №7 Регистрация данных</p>
				</div>
			</div>
		</div>
		</div>
		<div class="webinar-item">
			<div class="webinar-header">
				<div class="webinar-title">Модуль 3-4: Основные нормативы по разработке ХАССП.</div> 
				<div class="webinar-link"><a href="">Выбрать</a></div>
			</div>
			<div class="webinar-content-inner" style="display: none;">
			<div class="webinar-content-column">
				<div class="webinar-content-text">
					<p><b>Введение:</b></p>
					<p>-историческая справка, история версий,</p>
					<p>- преимущества от внедрения ХАССП</p>
					<p>-связь с другими стандартами пищевой безопасности.</p>
 					<p><b>Требование РФ. Требования Международные.</b></p>
					<p><b>Национальные стандарты:</b></p>
					<p>ГОСТ Р 51705.1-2001. Системы качества. Управление качеством пищевых продуктов на основе принципов ХАССП. Соблюдение общих требований ХАССП - управление качеством производимой продукции на основе основных принципов ГОСТ Р ИСО 22000-2007. Системы менеджмента безопасности пищевой продукции. Требования к организациям, участвующим в цепи создания пищевой продукции. Расширенный стандарт, требует соблюдения принципов всеми участниками создания пищевой промышленности: от момента производства сырья до его переработки поступления к конечному потребителю. (Российский аналог международного стандарта ISO 22000-2005)</p>
				</div>
			</div>
			<div class="webinar-content-column">
				<div class="webinar-content-text">
					<p><b>Международные стандарты</b></p>
					<p>ISO 22000-2005. Food safety management systems.</p>
					<p>FSSC 22000 Food Safety System Certification</p>
					<p>BRC. British Retail Consortium</p>
					<p>IFS International Food Standard</p>
					<p><b>Принципы ХАССП:</b></p>
					<p>Принцип №1 Анализ опасных факторов</p>
					<p>Принцип №2 Определение Критических контрольных точек (ККТ)</p>
					<p>Принцип №3 Критические пределы для ККТ</p>
					<p>Принцип №4 Мониторинга и контроль</p>
					<p>Принцип №5 Корректирующие действия</p>
					<p>Принцип №6 Верификация</p>
					<p>Принцип №7 Регистрация данных</p>
				</div>
			</div>
		</div>
		</div>
		<div class="webinar-item">
			<div class="webinar-header">
				<div class="webinar-title">Модуль 5: Best Practice по внедрению ХАССП в английской и американской концепции</div> 
				<div class="webinar-link"><a href="">Выбрать</a></div>
			</div>
			<div class="webinar-content-inner" style="display: none;">
			<div class="webinar-content-column">
				<div class="webinar-content-text">
					<p><b>Введение:</b></p>
					<p>-историческая справка, история версий,</p>
					<p>- преимущества от внедрения ХАССП</p>
					<p>-связь с другими стандартами пищевой безопасности.</p>
 					<p><b>Требование РФ. Требования Международные.</b></p>
					<p><b>Национальные стандарты:</b></p>
					<p>ГОСТ Р 51705.1-2001. Системы качества. Управление качеством пищевых продуктов на основе принципов ХАССП. Соблюдение общих требований ХАССП - управление качеством производимой продукции на основе основных принципов ГОСТ Р ИСО 22000-2007. Системы менеджмента безопасности пищевой продукции. Требования к организациям, участвующим в цепи создания пищевой продукции. Расширенный стандарт, требует соблюдения принципов всеми участниками создания пищевой промышленности: от момента производства сырья до его переработки поступления к конечному потребителю. (Российский аналог международного стандарта ISO 22000-2005)</p>
				</div>
			</div>
			<div class="webinar-content-column">
				<div class="webinar-content-text">
					<p><b>Международные стандарты</b></p>
					<p>ISO 22000-2005. Food safety management systems.</p>
					<p>FSSC 22000 Food Safety System Certification</p>
					<p>BRC. British Retail Consortium</p>
					<p>IFS International Food Standard</p>
					<p><b>Принципы ХАССП:</b></p>
					<p>Принцип №1 Анализ опасных факторов</p>
					<p>Принцип №2 Определение Критических контрольных точек (ККТ)</p>
					<p>Принцип №3 Критические пределы для ККТ</p>
					<p>Принцип №4 Мониторинга и контроль</p>
					<p>Принцип №5 Корректирующие действия</p>
					<p>Принцип №6 Верификация</p>
					<p>Принцип №7 Регистрация данных</p>
				</div>
			</div>
		</div>
		</div>
		<div class="webinar-item">
			<div class="webinar-header">
				<div class="webinar-title">Модуль 6:Прикладные вопросы ХАССП: договорные отношения, стандарты чистоты, надзорные проверки.</div>
				<div class="webinar-link"><a href="">Выбрать</a></div>
			</div>
			<div class="webinar-content-inner" style="display: none;">
			<div class="webinar-content-column">
				<div class="webinar-content-text">
					<p><b>Введение:</b></p>
					<p>-историческая справка, история версий,</p>
					<p>- преимущества от внедрения ХАССП</p>
					<p>-связь с другими стандартами пищевой безопасности.</p>
 					<p><b>Требование РФ. Требования Международные.</b></p>
					<p><b>Национальные стандарты:</b></p>
					<p>ГОСТ Р 51705.1-2001. Системы качества. Управление качеством пищевых продуктов на основе принципов ХАССП. Соблюдение общих требований ХАССП - управление качеством производимой продукции на основе основных принципов ГОСТ Р ИСО 22000-2007. Системы менеджмента безопасности пищевой продукции. Требования к организациям, участвующим в цепи создания пищевой продукции. Расширенный стандарт, требует соблюдения принципов всеми участниками создания пищевой промышленности: от момента производства сырья до его переработки поступления к конечному потребителю. (Российский аналог международного стандарта ISO 22000-2005)</p>
				</div>
			</div>
			<div class="webinar-content-column">
				<div class="webinar-content-text">
					<p><b>Международные стандарты</b></p>
					<p>ISO 22000-2005. Food safety management systems.</p>
					<p>FSSC 22000 Food Safety System Certification</p>
					<p>BRC. British Retail Consortium</p>
					<p>IFS International Food Standard</p>
					<p><b>Принципы ХАССП:</b></p>
					<p>Принцип №1 Анализ опасных факторов</p>
					<p>Принцип №2 Определение Критических контрольных точек (ККТ)</p>
					<p>Принцип №3 Критические пределы для ККТ</p>
					<p>Принцип №4 Мониторинга и контроль</p>
					<p>Принцип №5 Корректирующие действия</p>
					<p>Принцип №6 Верификация</p>
					<p>Принцип №7 Регистрация данных</p>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>
</main>
{% include "partials/footer.twig" %}