@import 'base/normalize';

html {
    box-sizing: border-box;
    height: 100%;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}
ul,p,h1,h2,h3,h4,h5,h6{
	margin: 0;
}
ul{
	padding: 0;
}
.container{
	max-width: 1230px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}
.main-content{}
.main-banner {
    padding: 155px 0 110px;
    background-size: auto,auto,auto,cover !important;
    background-repeat-y: no-repeat!important;
}
.main-banner-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    max-width: 540px;
    color: #0C143B;
    margin-bottom: 30px;
}
.main-banner-title span{
	color: #FE334A;
}
.main-banner-text {
    max-width: 540px;
    margin-bottom: 30px;
}
.main-banner-text p{
	font-size: 18px;
    line-height: 25px;
    color: #0C143B;
}
.main-banner-link{
	margin-bottom: 25px;
}
.main-banner-link a {
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    background: #0C143B;
    border: 1px solid #0c143b;
    border-radius: 20px;
    text-decoration: none;
    padding: 7px 19px;
    display: inline-block;
}
.trainings_block{}
.trainings_block-inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(301px, 1fr));
    grid-gap: 40px;
    padding: 50px 0 45px;
    border-bottom: 1px solid #0C143B;
}
.training-item {
    height: 203px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
}
.training-item-name {
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: #FFFFFF;
    margin-bottom: 12px;
}
.training-item-link a {
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    background: #0C143B;
    border-radius: 20px;
    text-decoration: none;
    padding: 8px 20px;
    display: inline-block;
}
.food-safety {
    padding-top: 45px;
    font-size: 0;
}
.main-page-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    color: #191A1F;
    margin-bottom: 50px;
}
.food-safety-inner {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(275px,1fr));
    grid-gap: 40px;
}
.food-safety-item {
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    height: 347px;
    overflow: hidden;
    position: relative;
}
.food-safety-item-image{
	background-image: linear-gradient(360deg, #000000 -21.92%, rgba(0, 0, 0, 0) 54.19%);
}
.food-safety-item-image img{
	height: 243px;
	height: 100%;
	object-fit: cover;
}
.food-safety-content {
    background-color: #fff;
    padding: 15px 17px 30px 17px;
    position: absolute;
    left: 0;
    right: 0;
    top: 245px;
    transition: 0.3s ease;
}
.food-safety-item:hover .food-safety-content{
	top: 0;
}
.food-safety-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #191A1F;
}
hr.safety-decore {
    background-color: #9EDAFF;
    height: 2px;
    width: 40px;
    border: none;
    margin: 10px 0;
}
.food-safety-time-name {
    font-size: 12px;
    line-height: 16px;
    color: #191A1F;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
}
.food-safety-time-value{
	font-size: 12px;
	line-height: 16px;
	color: #191A1F;
	margin-bottom: 10px;
	display: inline-block;
	vertical-align: middle;
}
.food-safety-text {
    height: 175px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}
.food-safety-text:after{
	content: "";
	display: block;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	height: 66px;
	background: linear-gradient(0deg, #FFFFFF 26.77%, rgba(255, 255, 255, 0) 212.86%);
} 
.food-safety-text p{
	font-size: 12px;
	line-height: 16px;
	color: #191A1F;
}
.food-safety-links{}
.link-sign {
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    background: #0C143B;
    border: 1px solid #0C143B;
    border-radius: 20px;
    text-decoration: none;
    padding: 6px 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}
.view-more{
	font-size: 14px;
	line-height: 19px;
	color: #8A8A8A;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
}
.teachers_block{}
.main-page-title{}
.teacher-item{}
.teacher-item-photo{}
.teacher-item-photo img{}
.teacher-item-name{}
.teacher-item-text{}
.teacher-item-text p{}


@import 'pages/home';
@import 'components/buttons';
@import 'layout/header';
@import 'layout/footer';
@import 'media-requests';