@import 'base/normalize';

html {
    box-sizing: border-box;
    height: 100%;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}
.container{
	max-width: 1230px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}
.main-content{}
.main-banner{}
.main-banner-title{}
.main-banner-title span{}
.main-banner-text{}
.main-banner-text p{}
.main-banner-link{}
.main-banner-link a{}
.trainings_block{}
.trainings_block-inner{}
.training-item{}
.training-item-name{}
.training-item-link{}
.training-item-link a{}
.food-safety{}
.main-page-title{}
.food-safety-inner{}
.food-safety-item{}
.food-safety-content{}
.food-safety-name{}
.safety-decore{}
.food-safety-time{}
.food-safety-time-name{}
.food-safety-time-value{}
.food-safety-text{}
.food-safety-text p{}
.food-safety-text ul{}
.food-safety-text ul li{}
.food-safety-links{}
.link-sign{}
.view-more{}
.teachers_block{}
.main-page-title{}
.teachers_block-inner{}
.teacher-item{}
.teacher-item-photo{}
.teacher-item-photo img{}
.teacher-item-name{}
.teacher-item-text{}
.teacher-item-text p{}


@import 'pages/home';
@import 'components/buttons';
@import 'layout/header';
@import 'layout/footer';
@import 'media-requests';