@import 'base/normalize';

html {
    box-sizing: border-box;
    height: 100%;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}
ul,p,h1,h2,h3,h4,h5,h6{
	margin: 0;
}
ul{
	padding: 0;
}
.container{
	max-width: 1230px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}
.main-content{}
.main-banner {
    padding: 155px 0 110px;
    background-size: auto,auto,auto,cover !important;
    background-repeat-y: no-repeat!important;
}
.main-banner-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    max-width: 540px;
    color: #0C143B;
    margin-bottom: 30px;
}
.main-banner-title span{
	color: #FE334A;
}
.main-banner-text {
    max-width: 540px;
    margin-bottom: 30px;
}
.main-banner-text p{
	font-size: 18px;
    line-height: 25px;
    color: #0C143B;
}
.main-banner-link{
	margin-bottom: 25px;
}
.main-banner-link a {
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    background: #0C143B;
    border: 1px solid #0c143b;
    border-radius: 20px;
    text-decoration: none;
    padding: 7px 19px;
    display: inline-block;
}
.trainings_block{}
.trainings_block-inner{}
.training-item{}
.training-item-name{}
.training-item-link{}
.training-item-link a{}
.food-safety{}
.main-page-title{}
.food-safety-inner{}
.food-safety-item{}
.food-safety-content{}
.food-safety-name{}
.safety-decore{}
.food-safety-time{}
.food-safety-time-name{}
.food-safety-time-value{}
.food-safety-text{}
.food-safety-text p{}
.food-safety-text ul{}
.food-safety-text ul li{}
.food-safety-links{}
.link-sign{}
.view-more{}
.teachers_block{}
.main-page-title{}
.teachers_block-inner{}
.teacher-item{}
.teacher-item-photo{}
.teacher-item-photo img{}
.teacher-item-name{}
.teacher-item-text{}
.teacher-item-text p{}


@import 'pages/home';
@import 'components/buttons';
@import 'layout/header';
@import 'layout/footer';
@import 'media-requests';