.main-footer{
	font-size: 0;
}
.footer-content{
	background: #0C143B;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.footer-info {
    width: 31%;
    background-color: #fff;
    padding-left: calc((100% - 1200px) / 2);
    padding-top: 20px;
    padding-bottom: 25px;
    position: relative;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.footer-info:after {
    content: "";
    display: block;
    width: 264px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: calc(100% - 152px);
    z-index: 1;
    border-radius: 0 50% 50% 0;
}
.footer-info-inner {
    position: relative;
    z-index: 3;
    width: 240px;
}
.footer-logo{
	margin-bottom: 12px;
	position: relative;
	z-index: 3;
}
.footer-logo a{}
.footer-logo a img{}
.footer-content-name{
	font-size: 24px;
	line-height: 33px;
	margin-bottom: 10px;
	color: #191A1F;
	position: relative;
	z-index: 3;
}
.footer-phone{
	margin-bottom: 10px;
	position: relative;
	z-index: 3;
}
.footer-phone a{
	font-size: 24px;
	line-height: 33px;
	color: #0C143B;
	text-decoration: none;
}
.footer-email{
	margin-bottom: 25px;
	position: relative;
	z-index: 3;
}
.footer-email a{
	font-size: 14px;
	line-height: 19px;
	text-align: right;	
	color: #0C143B;
	text-decoration: none;
}
.footer-address{
	font-size: 14px;
	line-height: 19px;
	color: #191A1F;
	position: relative;
	z-index: 3;
}
.footer-address-name{
	font-weight: 600;
}
.footer-map {
    width: 69%;
}
.under-footer{
	padding: 13px 0 10px;
}
.under-footer .container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.under-footer-link{}
.under-footer-link a{
	font-size: 14px;
	line-height: 25px;
	color: #0C143B;
	text-decoration: none;
}
.copyright{
	font-size: 14px;
	line-height: 25px;
	text-align: center;
	color: #0C143B;
}